/* Geist 1.5.1 */
@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url("./assets/fonts/Geist/webfonts/Geist[wght].woff2")
    format("woff2-variations");
}

/* 4481226b336843648b5b2ee64f75737f262ded15*/
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300 900;
  font-stretch: 100%;
  font-display: swap;
  src: url("./assets/fonts/Merriweather/webfonts/Merriweather[opsz,wdth,wght].woff2")
    format("woff2-variations");
}

@font-feature-values "Geist" {
  @styleset {
    alt-l: 3;
  }
}

:root {
  --color-magenta: #ef476f;
  --color-white: #ffffff;
  --color-gray: #cacaca;
  --color-black: #000000;

  --color-primary: var(--color-magenta);
  --link-color: var(--color-primary);
  --link-color--visited: var(--color-gray);
  --selection-color: var(--color-white);
  --selection-color-bg: var(--color-primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: var(--rem-font-size);
  line-height: 1.5;
  color: var(--color-black);
  background-color: var(--color-white);
}

::selection {
  color: var(--selection-color);
  background: var(--selection-color-bg);
  text-shadow: none;
}

ol,
ul {
  list-style: none;
  margin-bottom: 0.2rem;
}

p {
  margin-bottom: 0.2rem;
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Geist", sans-serif;
  font-variant-alternates: styleset(alt-l);

  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  text-wrap: balance;
  line-height: 1.1;
}

:root {
  --header-font-size: min(7rem, 10vw);
  --header-margin: calc(var(--header-font-size) * 0.3);
}

.logo {
  width: min(50vw, 15rem);
  height: auto;
}

.address {
  left: 0;
  /* background-color: red; */
  --address-width: max(18rem, 50vw);
  width: var(--address-width);
  margin-top: max(calc(2 * var(--header-margin)), 20vh);
  margin-left: calc(100% - var(--address-width));
}

.address-text {
  margin-bottom: calc(2 * var(--header-margin));
}

h1 {
  font-size: var(--header-font-size);
  margin-top: -0.185em; /* pulls block up so the first line’s top aligns to the em-square */
  /* background-color: red; */
  max-width: calc(var(--header-font-size) * 9);
}
header {
  padding-top: var(--header-margin);
  padding-left: var(--header-margin);
}

@media (min-aspect-ratio: 0.7) {
  header {
    padding-top: var(--header-margin);
  }

  .address {
    margin-top: max(calc(2 * var(--header-margin)), 10vh);
  }
}

@media screen and (width >= 1040px) {
}

/* .max-width {
  max-width: var(--max-width);
  background-color: red;
} */
/* @media screen and (width >= 900px) {
  h1 {
    padding: 1rem 3rem;
  }
} */

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 0.8rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* a-tag */

a {
  text-decoration: none;
  color: var(--link-color);
  text-underline-offset: 0.3em;
  text-decoration: underline currentColor;
  text-decoration-thickness: 0.15em;
}

a[href^="http"]::after {
  content: "↗";
  margin-left: 0.2em;
  display: inline-block;
}

a:visited {
  color: var(--link-color--visited);
}

a:hover {
  color: inherit;
}

button {
  box-shadow: none;
  background: transparent;
  text-shadow: none;
  cursor: pointer;
  line-height: inherit;
  border: 0.15em solid var(--color-black);
  border-radius: 0;
  color: inherit;
  padding: 0.5em 1em;
}

button:focus {
  outline: 0 !important;
  border-color: var(--color-primary);
}

button:hover:not(:disabled) {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

button:disabled {
  cursor: auto;
  opacity: 0.5;
}

body {
  padding-bottom: calc(
    8 * var(--header-margin)
  ); /* Account for logo height + padding */
}

header,
main {
  /* width: 92%;
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto; */
}

footer {
  --line-height: 0.75rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  z-index: 10;
}
.footer-content {
  padding-left: var(--header-margin);

  padding-top: calc(1 * var(--header-margin));
  padding-bottom: calc(1 * var(--header-margin) + var(--line-height));
}

footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--line-height);
  background-color: var(--color-gray);
}

.button {
  background-color: var(--color-primary);
  color: var(--color-black);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 8rem;
  border: 0.15em solid var(--color-black);
  background-color: transparent;
}

a.button:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.button:visited {
  color: var(--color-black);
}

.newsletter {
  transform: translateX(-0.8em);
}
